*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#grad1{
    padding-left: 14px;
    padding-right: 14px;
    border-radius:24px;
    background-color: lightblue;
    background-image: linear-gradient(to right,orchid,#bf2672,#db1616);
}
nav{
    padding:25px;
}
body{
    background-color:white;
    overflow-x: hidden;
}
/* html,body{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
#header{
    position: absolute; 
    top: 0px;
    left: 0px;
    padding-left:50px ;
    /* padding-bottom: 20px; */
    background: white;
    overflow: hidden;
    backdrop-filter: blur(12px);
    animation: anihead 3.5s linear infinite;
    height: 84px; 
    width: 100vw;
}


 #abc{
     padding-top: 200px;
     padding-left:100px;
     color:#595959;
 }
 
 #abc1{
    padding-top: 140px;
 }
@keyframes anihead{
    0%{
        box-shadow: 0px 5px 156px #c9c5c5;
    }
    50%{
        box-shadow: 0px 5px 200px #c9c5c5;
    }
    100%{
        box-shadow: 0px 5px 156px #c9c5c5;
    }
} 
 
.nav.navbar-nav.navbar-right{
    padding-right:70px; 
}

.button {
    background-image: linear-gradient(to right,orchid,#bf2672,#db1616);
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;;
    padding-left: 25px;
    padding-right: 25px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


  .btn.button1 {
    border: none;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;;
    padding-left: 25px;
    padding-right: 25px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 34px;
  }

  .btn1 {
    border: 3.5px solid black;
    border-radius: 24px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .danger {
    border-color: #db1616;
    color: red;
  }
  
  .danger:hover {
    background: #db1616;
    color: white;
  }

  .text-center {
    text-align: center;
  }

  #abc2{
      padding-left: 100px;;
      padding-right: 100px;
  }
  #abc4{
    padding-top: 140px;
  }
  #abc5{
    padding-left: 10px;;
    padding-right: 10px;
  }
  #abc6{
      padding-left: 30px;;
  }
  #abc7{
    padding-left: 100px;;
}
  .button5 {border-radius: 34px;}

  #box{
    width: 500px;
    height: 400px;
    /* background-color: bisque; */
    border: solid 1px rgba(112, 112, 112, 0.473);
    border-radius: 10px;
    padding: 50px;
    color: grey;
    position: relative;
}
#box p{
    line-height: 27px;
}
#box h5{
    display:inline-block;
    background-color: rgba(215, 215, 250, 0.356);
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px;
}
#box img{
    width: 50px;
    position: absolute;
    top: -30px;
    left: -14px;
}

.jumbotron{
  padding-left: 100px;;
}
.jumbotron.size{
  width:600px;
  height: 200px;;
  padding-top: 20px;;

}
.container-fluid {
  position: relative;
  font-family: Arial;
}
.text-block {
  position: absolute;
  bottom: 300px;
  right: 80px;
 
  color:#353535;
  padding-left: 20px;
  padding-right: 20px;
}


.footer-clean {
  padding:50px 0;
  background-color:#ECF4F5;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}



@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}



.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}


.siteFooterBar {

	bottom: 0;
	padding-top: 0px;
  
	width: 100%;
	box-shadow: 0px 0px 25px rgb(207, 207, 207);
	height: 78px;
	color: rgba(156, 154, 154, 0.925);
	background: black;
}

.content {
	display: block;
	padding: 3px;
	margin: 0px auto;
	text-align: center;
	font: 25px Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
  width:400px;
}
.foot {
 display:inline;
    line-height: 70px;
}
.content img {
 height:70px;
    width: 70px;
    float:right;
    border-radius: 34px;
    
}
#au{
  padding-left: 940px;
}



